Flask>=3.0.0
python-dotenv>=1.0.0
Flask-SQLAlchemy>=3.1.0
Flask-Migrate>=4.0.0
Flask-Login>=0.6.3
Flask-WTF>=1.2.0
email-validator>=2.0.0
PyMySQL>=1.1.0
cryptography>=42.0.0
pandas>=2.2.0
numpy>=2.0.0
scikit-learn>=1.5.0
joblib>=1.4.0
pytest>=8.0.0
shapely>=2.0.0
geopandas>=1.1.0
reportlab>=4.0.0
pillow>=9.0.0
